@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");

body {
  font-family: "Cairo";
  background-color: #eee;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  background-color: white;
  box-shadow: 3px 3px 3px #cccccc59;
}
.logo {
  width: 250px;
  text-align: center;
}
.logo a {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.sidber {
  width: 250px;
  background-color: #191919;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  transition: 0.3s;
}
.content {
  background-color: burlywood;
  height: 100vh;
  margin-right: 250px;
  margin-top: 40px;
  transition: 0.3s;
}
.icon i,
.active-users {
  font-size: 20px;
  color: rgb(59, 59, 59);
  transition: 0.3s;
}
.icon i:hover,
.active-users:hover {
  font-size: 23px;
  color: yellow;
}
.avatar img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.profile img {
  width: 80px;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 2px;
}
.profile h3 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}
.ul-sidebar li a,
.ul-sidebar li i {
  color: white;
}
